<div class="container">
  <img src="{{photo.site}}" class="mx-auto d-block img-thumbnail photo-show" data-id="{{photo.id}}">
  <div class="card mt-2 mx-auto">
    <div class="card-body">
      <p class="card-text">
        {{photo.description}}
        {{#if photo.editable}}
          <i class="far fa-edit edit-photo-btn text-success clickable" data-id="{{photo.id}}"></i>
        {{/if}}
      </p>

      <p class="card-text"><small class="text-muted">
        {{photo.user.name}} {{timeDiff photo.created_at photo.updated_at}}</small>
        {{#if photo.editable}}
          <i class="far fa-trash-alt delete-photo-btn text-danger clickable" data-id="{{photo.id}}"></i>
        {{/if}}
      </p>
      <div class="comments">
      </div>
      {{#if currentUser}}
      <form class="comment-form form-inline mt-2" data-id="{{photo.id}}">
        <div class="form-group mb-2">
          <label for="newComment" class="sr-only">Comment</label>
          <input type="text" class="form-control form-control-sm" id="newComment" name='comment[content]' placeholder="Add comment">
          <input type='integer' hidden='true' name='comment[photo_id]' value='{{photo.id}}'>
        </div>
        <button type="submit" class="btn btn-primary btn-sm comment-btn ml-2 mb-2">Post</button>
      </form>
      {{/if}}
      <button type="button" class="home btn btn-primary btn-sm comment-btn mt-2">Back</button>
    </div>
  </div>
</div>
