{{#each photos as |photo|}}
  <div class="col-md-6 col-lg-4 col-xl-3">
    <div class="card mx-auto my-2"  data-id="{{photo.id}}">
      <img src="{{photo.site}}" class="card-img-top" alt="..." data-id="{{photo.id}}">
      <div class="card-body">
        <p class="card-text">
          {{limit photo.description 50}}
        </p>
        <p class="card-text"><small class="text-muted">{{photo.user.email}} {{timeDiff photo.created_at photo.updated_at}}</small></p>
      </div>

    </div>
  </div>

{{/each}}
