
{{#each photos as |photo|}}
  <div class="col-md-6 col-lg-4 col-xl-3 grid-item {{photo.user.name}}">
    <div class="card mx-auto my-2"  data-id="{{photo.id}}">
      <img src="{{photo.site}}" class="card-img-top clickable" alt="..." data-id="{{photo.id}}">
      <div class="card-body pt-2">
        <div class="">
          <!-- {{#if photo.num_comments}}
            {{photo.num_comments}}
          {{/if}}
          <i class="far fa-heart no-like"></i> -->
          {{#if photo.num_comments}}
            {{photo.num_comments}}
          {{/if}}
          <i class="far fa-comment clickable" data-id="{{photo.id}}"></i>
        </div>
        <p class="card-text">
          {{limit photo.description 50}}
        </p>
        <p class="card-text"><small class="text-muted">{{photo.user.name}} {{timeDiff photo.created_at photo.updated_at}}</small></p>
      </div>
    </div>
  </div>
{{/each}}
