<div class="text-justify comment" data-id="{{comment.id}}">
  <strong>{{comment.owner}}</strong> {{comment.content}} <small class="text-muted">-{{photo.user.email}} {{timeDiff comment.created_at comment.updated_at}}</small>
  {{#if isUserOwner}}
    <i class="far fa-trash-alt delete-comment-btn text-danger clickable" data-id="{{comment.id}}"></i>
  {{/if}}
</div>
